@font-face {
	font-family: "Emblema One";
	src: url("EmblemaOne-Regular.woff"), 
	     url("EmblemaOne-Regular.ttf"); 
}
body {
  margin: 0px auto;
  width: 800px;
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
}
h1, h2 {
  color:           #cc6600;
  border-bottom:   thin dotted #888888;
}
h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       220%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
}
blockquote {
  font-style:      italic;
}

table {
  margin: 0px 20px 0px 20px;
  border: thin solid black;
  caption-side: bottom;
  border-collapse: collapse;
}

td, th {
  border: 1px dotted gray;
  padding: 5px;
}

th {
  background-color: #cc6600;
}

.cellcolor {
  background-color: #fcba7a;
}

table > table > tr {
}

table table td:nth-child(1) {
  font-weight: bold;
}

table table tr:nth-child(1) {
  background-color: #fcba7a;
}

li {
  list-style-image: url("images/backpack.gif");
  padding-top: 5px;
  margin-left: 20px;
}

caption {
  font-style: italic;
  padding-top: 8px;
}

td.center {
  text-align: center;
}

td.right {
  text-align: right;
}